@font-face {
  font-family:"StratosSkyeng";
  src:url("./fonts/stratosskyengweb-regular.woff");
  font-style: normal;
  font-weight: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }

  body {
    background: #004980;
    font-family: "StratosSkyeng";
  } 

  .center {
    padding-left: calc(50% - 250px);
    padding-right: calc(50% - 250px);
  }

 .content {
  padding-top: 158px;
 }
 .top__content {
  width: 480px;
  height: 459px;
  background-color: #C2F5FF;
  border-radius: 12px;
  padding: 50px;
  gap: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .top__content_title {
  line-height: 48px;
  color:  #004980;
  text-align: center;
  font-size: 40px;
  font-weight: 400px;
  font-variant-numeric: lining-nums proportional-nums;
  font-style: normal;
 }
 .radio-toolbar {
  display: flex;
  gap: 26px;
 }
.radio-toolbar__radio {
  display: none;
}
.radio-toolbar__radio:checked + label {
  background-color: #004980;
  border: 3px solid #004980;
  color: #FFF;
  transform: scale(1.1);
}
 .radio-toolbar__label {
  width: 98px;
  height: 98px;
  border-radius: 12px;
  border: none;
  color:#0080C1;
  background-color:white;
  font-family: "StratosSkyeng";
  font-style: normal;
  font-weight: 400px;
  font-size: 64px;
  line-height: 72px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
 }
 .radio-toolbar__label:hover {
  background-color: #c4e8f0;
  border: 1px solid #004980;
  transform: scale(1.1);
}

 .form_button {
  width: 246px;
  height: 50px;
  font-size: 24px;
  font-weight: 400px;
  line-height: 32px;
  color: #FFFFFF;
  background-color: #7AC100;
  border-radius: 12px;
  border: none;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "StratosSkyeng";
  font-style: normal;
 }

