@font-face {
    font-family: StratosSkyeng;
    src: url('../3course/static/fonts/stratosskyengweb-regular.woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background: #004980;
    font-family: StratosSkyeng, sans-serif;
    font-style: normal;
    font-variant-numeric: lining-nums proportional-nums;
}

.center {
    padding-left: calc(50% - 250px);
    padding-right: calc(50% - 250px);
}

.content {
    padding-top: 158px;
}

.top-content {
    width: 480px;
    height: 459px;
    background-color: #c2f5ff;
    border-radius: 12px;
    padding: 50px;
    gap: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-content-title {
    line-height: 48px;
    color: #004980;
    text-align: center;
    font-size: 40px;
    font-weight: 400px;
}

.radio-toolbar {
    display: flex;
    gap: 26px;
}

.radio-toolbar-radio {
    display: none;
}

.radio-toolbar-radio:checked+label {
    background-color: #004980;
    border: 3px solid #004980;
    color: #c4e8f0;
    transform: scale(1.1);
}

.radio-toolbar-label {
    width: 98px;
    height: 98px;
    border-radius: 12px;
    border: none;
    color: #0080c1;
    background-color: white;
    font-style: normal;
    font-weight: 400px;
    font-size: 64px;
    line-height: 72px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.radio-toolbar-label:hover {
    background-color: #c4e8f0;
    border: 1px solid #004980;
    transform: scale(1.1);
}

.form-button {
    width: 246px;
    height: 50px;
    font-size: 24px;
    font-weight: 400px;
    line-height: 32px;
    color: #fff;
    background-color: #7ac100;
    border-radius: 12px;
    border: none;
    font-style: normal;
}

.time {
    color: #fff;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    padding-top: 41px;
    font-family: StratosSkyeng, sans-serif;
}

.duration {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-left: 51px;
    font-family: StratosSkyeng, sans-serif;
}

.duration-time {
    display: flex;
}

.button-two {
    width: 246px;
    height: 50px;
    font-size: 24px;
    font-weight: 400px;
    line-height: 32px;
    color: #fff;
    background-color: #7ac100;
    border-radius: 12px;
    border: none;
    font-style: normal;
    font-family: StratosSkyeng, sans-serif;
}

.card-game {
    margin-top: 52px;
    padding: 22px;
    display: flex;
    flex-direction: column;
}

.card-game-timer {
    display: flex;
    justify-content: space-between;
}

.approach {
    padding: 48px;
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: center;
    gap: 15px;
}

.modal {
    position: absolute;
    padding-top: 158px;
}

.results-title {
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    color: #004980;
}

.results {
    background-color: #c2f5ff;
    width: 480px;
    height: 459px;
    border-radius: 12px;
    display: flex;
    align-content: center;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 26px;
}

.results-time {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #000;
    margin-top: 28px;
    margin-bottom: 10px;
}

.results-time-timer {
    font-size: 64px;
    font-weight: 400;
    line-height: 72px;
    color: #000;
    margin-bottom: 40px;
}
